@CHARSET "UTF-8";

table {
	width: 500x;
	border: 2px solid #000000;
	margin: 30px;
	padding: 20px;
}

td {
	text-align: center;
	
	height: 10px;
	vertical-align: center;
	border-bottom: 1px solid #000000;
	padding: 10px;
}

.label {
	text-align: right;
	height: 10px;
	vertical-align: center;
	border-bottom:1px solid #000000;
	padding: 10px;
}


th {
	background-color: #ffffff;
	width: 1px;
	height: 2px;
	vertical-align: center;
	text-align: center;
	color: black;
	padding: 2px;
}

.formtable {
	width: 1000px;
	border: 2px solid #000000;
	margin: 30px;
	padding: 20px;
}

}
input {
	width: 100px;
	text-align: left;
	vertical-align: center;
}

input[type=submit] {
	text-align: center;
	vertical-align: center;
	width: 120px;
}